extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Bjorn Lottering

        p Full stack javascript developer, treehouse student and life long learner.

        .about-bio

          p As a teenager I remember reading a Goosebumps book and getting to a page that allowed me to make a decision sending you to a different page in the book. As I continued reading I was then consequentially lead to an ending based upon the decisions made at these key junctions reached in the book. For me this was an intriguing way of telling a story.

          p I discovered more similar books written with increased complexity, the fantasy ones were my favorite. By the time I used a computer for the first time I was really hooked on interactive fiction, input and output text based games ran in DOS.

          p My aunt gave me a textbook to read which got me started off with programming, 'Turbo C programming for the PC', by Robert Lafore. Learning functional programming concepts in the C language and writing my first hangman game was like reading those interactive books, although in a more profound manner.

          p Today I am employed full time as a web developer. I have been honing my craft over the past several years and I am passionate about what I am doing, interactive web based applications is what I spend most of my time on these days.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li PHP
          li C++
          li Python
          li Java
          li SQL
          li OOP
          li Git and GitHub
          li Vi and Vim
          li Accessibility
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Vue

        h6 Contact Info

        ul
          li +2771 549 1849
          li bjorn@octonet.co.za

        a.btn-link(href='https://www.linkedin.com/in/bjorn-lottering-a800ba230/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/volmalites', target='_blank') GitHub
        a.btn-link(href='https://twitter.com/_FakeAccounts', target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back
