extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back
    
  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        div.container
          h1= `Server Error`
          h2= `Error status code: ${err.status} - Server Error`
          p.error-p= `Human friendly error message: ${err.message}`

          div.page-not-found-stack
            hr
            p= `The stack trace below generally wouldn't be displayed to users.  This info is more for developers.`
            hr
            pre #{err.stack}

  nav.nav
    a(href='/')
      span &larr;
      |  Back
