extends layout.pug

block content

  article.portfolio-intro

    h1 Online Portfolio

    p This portfolio has been created to showcase some of the projects I have worked on. These include but are not limited to projects that I have decided to share and/or are allowed to share with the internet. Sorry, some of the stuff I am working on is highly classified!

  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Pug iterator to loop over the projects data file  
      
      each item in projects
        .cell
          a(href=`project/${item.id}`)
            img.thumbnail(src=`${item.image_urls[0]}`, alt=`${item.description}`)
            h5 #{item.project_name}

