extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Online Portfolio

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p This portfolio has been created to showcase some of the projects I have worked on. These will only be projects that I have decided to share and/or are allowed to share with the internet. Sorry, some of the stuff I am working on is highly classified!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      
      each item in projects
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href=`project/${item.id}`)
            img.thumbnail(src=`${item.image_urls[0]}`, alt=`${item.description}`)
            h5 #{item.project_name}

