extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back
    
  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        div.container
          h1= `Error 404 - Page Not Found`
          p.page-not-found-p= `Oops!  It looks like the page you're looking for does not exist.`

          if err

            div.page-not-found-stack
              hr
              p= `The stack trace below generally wouldn't be displayed to users.  This info is more for developers.`
              hr
              pre #{err.stack}

    nav.nav
      a(href='/')
        span &larr;
        |  Back
